.header {
  background-color: rgb(249, 249, 249);
  width: 100%;
  overflow: hidden;
  max-height: 5rem;
  padding: 1rem 0;
  z-index: 50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.input {
  margin: 4rem auto;
  border-radius: 0.5rem;
  background-color: rgba(255, 231, 199, 0.7);
  backdrop-filter: blur(3px);
}
.input:hover {
  background-color: rgba(253, 224, 185, 1);
  transition: 0.2s;
}

#logo {
  color: rgb(155, 116, 149);
  text-shadow: 2px 0 7px rgba(155, 116, 149, 0.6);
  font-size: 25px;
  font-weight: 600;
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  /* flex-basis: 300px; */
}
#logo:hover {
  color: rgba(59, 22, 16, 0.6);
  text-shadow: 2px 0 7px rgba(59, 22, 16, 0.6);
  transition: 0.2s;
}

.navLinks {
  justify-content: flex-start;
  /* width: 100%; */
}

.navLinks ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navLinks li {
  position: relative;
  margin: 0 1.5rem;
  font-size: 16px;
  font-weight: 600;
  margin-right: 1rem;
}
.navLinks li::before {
  /* display: block; */
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 5px;
  border-radius: 1rem;
  background-color: rgba(166, 38, 38, 0.9);
}

.navLinks a {
  color: black;
  text-decoration: none;
}

.navLinks li:hover::before,
.navLinks li:active::before {
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.navLinks li:hover > a,
.navLinks li:focus > a,
.navLinks li:active > a {
  color: rgb(02, 0, 100);
  transition: 0.2s;
}

.cartBtn {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.totalProducts {
  background: rgba(166, 90, 90);
  padding: 5px 11px;
  border-radius: 0.7rem;
}

.iconbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;
}
.menubar {
  font-size: 22px;
  width: 2.5rem;
  border: 2px solid grey;
  border-radius: 0.2rem;
  height: 2rem;
  font-weight: 700;
  display: none;
}
.menubar:hover,
.menubar:focus,
.menubar:active {
  background-color: rgb(155, 116, 149);
  transition: 0.5s;
}
#menu {
  transform: translate(-20rem, 0);
  display: none;
}
#searchBar {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 100vh;
  top: 7rem;
  z-index: 52;
}
form {
  position: sticky;
  top: 5rem;
  width: 21rem;
  height: 5rem;
  display: flex;
  margin: 0 auto;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(130, 163, 152, 0.7);
  backdrop-filter: blur(3px);
  border-radius: 0.7rem;
}

.closeSearch {
  margin-right: 0.2rem;
  color: white;
  font-size: 2rem;
}
.closeSearch:hover {
  color: rgba(166, 38, 38, 0.9);
}

.HeaderIcon {
  cursor: pointer;
  display: none;
  margin: 0 0.5rem;
  font-size: 20px;
}
.SearchIcon {
  margin: 0;
  display: block;
}
.HeaderIcon:hover,
.HeaderIcon:active {
  color: rgba(166, 38, 38, 0.9);
}

@media screen and (width<800px) {
  .header {
    position: inherit;
  }
  .navLinks {
    display: none;
    /* width: 100%; */
  }
  .navLinks ul {
    flex-direction: column;
  }
  .menubar {
    display: block;
    transition: 0.2s;
  }

  #menu {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    transform: translate(0, 0);
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 51;
    color: black;
    justify-content: space-between;
  }
  ul {
    text-align: start;
    list-style: none;
  }
  li {
    margin: 5rem 1rem;
  }
  a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    font-weight: 600;
  }
  a:hover,
  a:active,
  .close:hover,
  .close:active {
    color: rgba(166, 38, 38, 0.9);
  }
  .close {
    margin: 1rem;
    color: white;
    font-size: 3rem;
  }
  .cartBtn {
    display: none;
  }
  .HeaderIcon {
    display: block;
  }
  .HeaderIcon:hover,
  .HeaderIcon:active {
    color: rgba(166, 38, 38, 0.9);
  }
}
