* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  max-width: 100%;
  text-align: center;
  /* overflow: hidden; */
  background-color: rgb(183, 206, 177);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
